body{
    margin: 0;
    background: #01053f;
    width: 100%;
    height: 100%;
}
.icon1{
    width: 460px;
    height: 350px;
    margin-left: 460px;
}
.icon{
    opacity: 0.6;
    margin-top: 420px;
    background:#000237;
    height: 100px;
    padding-left: 410px;
}
.icon p{
    position: absolute;
    color: white;
    margin: 45px 0px 0px 380px;
    text-align: center;
    z-index: 1200;
}
a{
    margin-right: 40px;
}
a img{
    margin-top: 35px;
    width: 50px;
    height: 50px;
}
.aa{
    width: 250px;
    height: 50px;
}
.item{
    display: flex;
    justify-content: center;
    margin: 50px 300px;
    text-align: center;
}
.item1{
    position: absolute;
    width: 500px;
    height: 80px;
    border: solid 3px rgb(194, 135, 10);
    background-color: #61b6e3;
    text-align: center;
    margin-top: 40px;
    border-radius: 15px 15px 0px 0px
    
}
.item1 h1{
    color: yellow;
    text-shadow: 0.1em 0.1em 0.2em gray;
    font-size: 50px;
    margin-top: 10px;
}
i{
    position: absolute;
    font-size: 40px;
    border: solid 1px rgb(14, 63, 107);
    background-color: rgb(213, 228, 241);
    color: black;
    border-radius: 100%;
    padding: 10px 18px 10px 18px;
    margin: 50px 0px 0px 190px;
    z-index: 1000;
}
.item2{
    position: absolute;
    width: 500px;
    height: 200px;
    border: solid 3px rgb(194, 135, 10);
    background-color: #1a3694;
    text-align: center;
    margin-top: 120px;
    font-size: 25px;
    border-radius: 0px 0px 15px 15px
}
.item2 p{
    color: white ;
    margin-top: 60px;
}
